@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 22px;
  }
}
/* Styles für die Header in den Body Bereichen*/
section.site_headline h3 {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  color: #ccc;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}